# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.moved-aside
*.xcscmblueprint

# User-specific Xcode data
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
